
{% extends "base.html.twig" %}

{% block title %}TheDistrict - Accueil
{% endblock %}

{% block body %}

<div class="container mt-4">
 <div class="jumbotron">
  <h1 class="display-4">The district</h1>
  <p class="lead">On va bien bouffer</p>
  <hr class="my-4">
  <p>c'est bon comme ça ?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Rien</a>
  </p>
 </div>
</div>


{% endblock %}


